{% extends "layout.html" %}
{% block body %}

{% if test == True %}
    <h1>Test result</h1>
{% else %}
    <h1>Battle scorecard</h1>
{% endif %}
<section>
    <div class="half">
        {% if test == True %}
            <p class="info">A test match fights the robot against itself to make sure there are no errors in your robot's source code.</p>
            {% if result['error'] == False %}
                <p class="status passed">{{ result['robot1']['robot_name'] }} tested with no problems.</p>
            {% else %}
                <p class="status failed">{{ result['robot1']['robot_name'] }} is not a valid robot.</p>
                <p>Unfortunately your robot code is invalid. Ensure you follow the guidelines on importing the correct package and understand the functions your robot is allowed to call.</p></div>
            {% endif %}
        {% else %}
            {% if replay == True %}
                <h2>Battle replay</h2>
                <p>This battle is a replay of one that took place on <span class="time">{{result['timestamp']}}</span>.</p>
            {% endif %}
            {% if result['error'] == True %}
                <p class="error">There was an error with the battle. Ensure both robots have a 'passed' test status.</p><div class="clear"></div></div>
            {% elif result['scores'][0] > result['scores'][1] %}
                <p class="info">{{ result['robot1']['robot_name'] }} won the battle!</p>
            {% elif result['scores'][1] > result['scores'][0] %}
                <p class="info">{{ result['robot2']['robot_name'] }} won the battle!</p>
            {% elif result['scores'][0] == result['scores'][1] %}
                <p class="info">The robots drew this battle!</p>
            {% endif %}
        {% endif %}
       
        {% if result['error'] == False %} 
        <div class="vs_box">
            <div class="robot robot1">
                <p class="title">{{ result['robot1']['robot_name'] }}</p>    
                <p class="score player1">{{ result['scores'][0] }}</p>
            </div>
            <div class="robot robot1">
                <p class="title">{{ result['robot2']['robot_name'] }}</p>
                {% if test == True %}
                    <p class="owner"><a href="/arsenal/{{ user['username'] }}">{{user['username']}}</a> </p>
                {% else %}
                {% endif %}
                <p class="score player2">{{ result['scores'][1] }}</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
   
    <div class="half">
        <div class="centre"> 
            <button id="play_pause" class="battle_play">Play match</button>    
            <br />
            <button id="step_back" class="battle_step">Previous move</button>
            <button id="step_forward" class="battle_step">Next move</button>
        </div>
        <p style="text-align:center">Move <span id="move_count">0</span</p>
        <div id="map"></div>
    </div>
    
    {% endif %}

    <div class="clear"></div> 

</section>
{% endblock %}
{% block scripts %}
<script>
{% autoescape false %}
var map_data = {{ result['map'] }};
var history_temp = {{ result['history'] }};
{% endautoescape %}

var history_arr = [];
for(var i = 0; i < history_temp.length; i++){
    history_arr.push(history_temp[i]);
}

console.log(history_arr);

var playing = false;
var move = 0;

    $(document).ready(function(){
        create_map();
        $("#map").css({'height':$("#map").width()});
        $("#play_pause").trigger('click');
    });
    $(window).resize(function(){
        $("#map").css({'height':$("#map").width()});
    });

    $('#play_pause').click(function(event){
        event.stopImmediatePropagation();
        if(playing == false){
            move = 0;
            playing = true;
            iterate_move(move);
            $("#play_pause").html('Playing...');
        }
    });    
    
    $("#step_back").click(function(event){
        event.stopImmediatePropagation();
        if(playing == true){return;}
        if(move == 0){
            move = 100;
        }
        move--;
        show_move(move);
        $("#move_count").html(move);
    });
    $("#step_forward").click(function(event){
        event.stopImmediatePropagation();
        if(playing == true){return;}
        if(move == 100){
            move = 0;
        }
        move++;
        show_move(move);
        $("#move_count").html(move);
    });

    function iterate_move(move){
        move++;
        setTimeout(function(){
            show_move(move);
            $("#move_count").html(move);
            if(move < 100){
                iterate_move(move);
            }
            else{
                $("#play_pause").html('Replay');
                playing = false;
            }

        }, 100);
    }
    
    function create_map(){
        var tile_size = 5;
        var map = $("#map");
        for(var i = 0; i < map_data.spawn.length; i++){
            var sp = map_data.spawn[i];
            var x = sp[0]*tile_size;
            var y = sp[1]*tile_size;
            map.append("<div class='spawn tile' style='top:"+y+"%;left:"+x+"%;'></div>")
        }   
        for(var i = 0; i < map_data.obstacle.length; i++){
            var op = map_data.obstacle[i];
            var x = op[0]*tile_size;
            var y = op[1]*tile_size;
            map.append("<div class='obstacle tile' style='top:"+y+"%;left:"+x+"%;'></div>")
        }
    }

    function show_move(move){
        var map = $("#map");
        var tile_size = 5;
        var move_data = history_arr[move];
        $("#map .robot").remove();
        for(var i = 0; i < move_data.length; i++){
            var robot = move_data[i]; 
            var x = robot.location[0]*tile_size;
            var y = robot.location[1]*tile_size;
            var player = "player1";
            if(robot.player_id == 1){player = "player2";}
            map.append("<div class='robot "+player+"' style='top:"+y+"%;left:"+x+"%;'>"+robot.hp+"</div>");
        }
    }
</script>
{% endblock %}

