{% extends "layout.html" %}
{% block body %}

<h1>Source for robot '{{ robot['robot_name'] }}'</h1>
<section>
    <div class="half">
         <ul class="robot_list">
            <li>
                <p class="title">{{ robot['robot_name'] }}</p>
                {% if robot['status'] == 0 %}
                    <p class="status untested">Not yet tested</p>
                    <p class="info">Robots need to be tested to ensure that they will     not cause errors when in battles.</p>
                {% elif robot['status'] == 1 %}
                    <p class="status passed">Test passed</p>
                {% elif robot['status'] == -1 %}
                    <p class="status failed">Test failed: invalid robot</p>
                {% endif %}
                <button onclick="window.location='/delete_robot?id={{ robot['robot_id    '] }}';" class="delete">delete</button>
                <button onclick="window.location='/test?id={{ robot['robot_id'] }}';"     class="test">test</button>

            </li>
        </ul>
    </div>
    <div class="half">
        <p>Below is the source code for your robot. You cannot edit the source directly. In order to modify a robot's code you will need to create a new robot on the dashboard.</p>
        <p class="info">Only a robot's owner has access to the robot's source code.</p>
    </div>
    <div class="clear"></div>
    <textarea class="source" readonly>{{ source }}</textarea>

</section>
{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}

